<% if is_current_user_page? @user %>
    <%= t :this_is_your_page %>
<% else %>
    <%= t :this_is_the_page_of %> <%= t :successful if @user.successful?%> <%= @user.email %>
<% end %>
<div class="profile">

  <%= content_tag :div, (link_to 'Edit', edit_user_path(@user)), :class => 'edit-link' if is_current_user_page? @user %>

  <% @user.answers.each do |answer| %>
      <div class="answer">
        <span class="question"><%=answer.question.questionText %></span>
        <br/> <!--todo how to deal with br's?-->
        <%= answer.answerText %>
      </div>
  <% end %>
</div>