<!DOCTYPE html>
<html>
<head>
  <title>GreatWork</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "/stylesheets/main.css" %>
</head>
<body>
<div class="nav">
  <ul>
    <li class="date">
      <script type="text/javascript">
          <!--
          // Array of day names
          var dayNames = new Array("Sunday","Monday","Tuesday","Wednesday",
                  "Thursday","Friday","Saturday");
          var now = new Date();
          document.write("Happy " + dayNames[now.getDay()] + ".");
          // -->
      </script>
    </li>
    <li style="float: left;"><a href="/">Home</a></li>
    <li><%= user_signed_in? ? 'Hello ' + current_user.email : 'You are not logged in' %></li>
    <li><%= link_to 'Another coole projecte', 'http://cheerick.ru' %></li>
    <% if user_signed_in? %>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
    <% else %>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
    <% end %>
    <li class="logo"><a href="/"><img src="/images/rails.png" class="logo" alt="gw" /></a></li>
  </ul>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
